<footer class="footer">
  <div class="footer-container">
    <!-- Redes sociales -->
    <div class="social-media">
      <h5>Redes Sociales</h5>
      <div class="icons">
        <a href="#"><mat-icon>facebook</mat-icon></a>
        <a href="#"><mat-icon>email</mat-icon></a>
      </div>
    </div>

    <!-- Nombre de la empresa -->
    <div class="company-name">
      <h4>Postventa360</h4>
      <p>© 2024 Todos los derechos reservados</p>
    </div>

    <!-- Integrantes -->
    <div class="team">
      <h5>COLABORADORES</h5>
      <ul>
        <li><a href="#">Duque Borbor Britany</a></li>
        <li><a href="#">Peñafiel Del Rosario Gabriel</a></li>
        <li><a href="#">Reyes Pazos Anthony</a></li>
        <li><a href="#">Franco Emperador Daniel</a></li>
        <li><a href="#">Rosario Delgado Bryan</a></li>
      </ul>
    </div>
  </div>
</footer>
