<div class="contenedor">
    <div class="titulo">
        <h1><strong>Bienvenido a Nuestro Portal de Asistencia Postventa - Postventa360</strong></h1>
        
    </div>
    <br/>
    <div class="kodfun-galeri">
        <div style="background-image: url('./images/imagenesInicio/Postventa1.jpg');" ></div>
        <div style="background-image: url('./images/imagenesInicio/Postventa2.jpg');" ></div>
        <div style="background-image: url('./images/imagenesInicio/Postventa3.jpg');" ></div>
        <div style="background-image: url('./images/imagenesInicio/Postventa4.jpg');" ></div>
        <div style="background-image: url('./images/imagenesInicio/Postventa5.jpg');" ></div>
    </div>
    <br/><br/>
    <div class="contenido">
        <p>En Postventa360, nos dedicamos a ofrecer un servicio de asistencia postventa que 
            garantiza la satisfacción y confianza de nuestros clientes. Sabemos lo importante 
            que es contar con un respaldo eficiente una vez adquiridos nuestros productos, 
            por eso hemos diseñado un portal intuitivo y accesible donde puedes gestionar 
            tus consultas, reportes y solicitudes de manera rápida y segura. Nuestro compromiso 
            es brindarte soluciones personalizadas y un seguimiento constante para resolver 
            cualquier inconveniente que puedas enfrentar.</p>
        <p>A través de nuestro portal, podrás acceder a herramientas que te permitirán dar 
            seguimiento a tus casos, descargar documentación técnica, contactar a nuestros 
            expertos y mantenerte al tanto de novedades y actualizaciones relacionadas con 
            tus productos. En Postventa360, trabajamos para que disfrutes de un soporte excepcional 
            que supere tus expectativas en cada interacción. Tu satisfacción es nuestra prioridad.</p>
    </div>
</div>