<div class="contenedor">
    <div class="titulo">
        <h1>Bienvenido a Nuestro Portal de Asistencia Postventa - Postventa360</h1>
    </div>
    <br/>
    <div class="kodfun-galeri">
        <div style="background-image: url('./images/imagenesInicio/Postventa1.jpg');" ></div>
        <div style="background-image: url('./images/imagenesInicio/Postventa2.jpg');" ></div>
        <div style="background-image: url('./images/imagenesInicio/Postventa3.jpg');" ></div>
        <div style="background-image: url('./images/imagenesInicio/Postventa4.jpg');" ></div>
        <div style="background-image: url('./images/imagenesInicio/Postventa5.jpg');" ></div>
    </div>
</div>