<div class="encabezado">
  <h1>{{title}}</h1>
  <nav>
    <ul class="menu-horizontal">
      <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
      <li><a routerLink="/crud-clientes"  routerLinkActive="active">Clientes</a></li>
      <li><a routerLink="/soporte" routerLinkActive="active">Solicitudes de Soporte</a></li>
      <li>
        <a routerLink="/crud-garantias"  routerLinkActive="active">Garantías</a>
        <!-- Submenú vertical -->
        <ul class="menu-vertical">
          <li>
            <a routerLink="/crud-garantias" routerLinkActive="active" >CRUD Garantías</a>
          </li>
        </ul>
      </li>
      <li><a routerLink="/crud-devoluciones" routerLinkActive="active">Devoluciones</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
