<div class="encabezado"><h1>{{title}} </h1>
  <nav>
      <ul class="menu-horizontal">
          <li><a routerLink="/#" routerLinkActive="active">Productos</a></li>
          <li><a routerLink="/#" routerLinkActive="active">Clientes</a></li>
          <li><a routerLink="/#" routerLinkActive="active">Solicitudes de Soporte</a></li>
          <li>
            <a routerLink="/#" routerLinkActive="active">Garantias</a>
            <ul class="menu-vertical">
              <li><a routerLink="/crud-garantias" routerLinkActive="active">CRUD Garantias</a></li>
            </ul>
          </li>
          <li><a routerLink="/#" routerLinkActive="active">Devoluciones</a></li>
      </ul>
  </nav>
  </div>

<router-outlet />
