<form [formGroup]="form" class="ocultar" (submit)="onSubmit()">
    <mat-form-field class="formElement">
        <mat-label>Titulo: </mat-label>
        <input matInput type="text" placeholder="Titulo" formControlName="title"/>
        <mat-error>
            @if(form.get('title')?.invalid && (form.get("title")?.dirty || form.get('title')?.touched)){
                @if(form.get('title')?.errors?.['required']){
                    Titulo es requerido
                }@else if(form.get('title')?.errors?.['minlength']){
                    Titulo Minimo 3 caracteres

                }@else if(form.get('title')?.errors?.['patterns']){
                    Solo letras y numeros
                    

                }
            }
        </mat-error>
    </mat-form-field>
    <mat-form-field class="formElement">
        <mat-label>Genero: </mat-label>
        <mat-select formControlName="genre">
            <mat-option value="">Seleccione...</mat-option>
            <mat-option value="Sci-Fi">Sci-Fi</mat-option>
            <mat-option value="Action">Action</mat-option>
            <mat-option value="Animation">Animation</mat-option>
            <mat-option value="Adventure">Adventure</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="formElement">
        <mat-label>Fecha de Lanzamiento: </mat-label>
        <input matInput [matDatepicker]="picker" type="text" placeholder="Fecha" formControlName="releaseDate"/>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="formElement">
        <mat-label>Presupuesto: </mat-label>
        <input matInput type="number" placeholder="0" formControlName="budget"/>
    </mat-form-field>
    <mat-form-field class="formElement">
        <mat-label>URL de imagen del poster: </mat-label>
        <input matInput type="url" placeholder="url" formControlName="poster"/>
    </mat-form-field>
    <mat-radio-group aria-label="Select an option" class="formElement" formControlName="rating">Rating:
        <mat-radio-button value="R">R</mat-radio-button>
        <mat-radio-button value="PG">PG</mat-radio-button>
        <mat-radio-button value="PG-13">PG-13</mat-radio-button>
    </mat-radio-group>
    <mat-checkbox class="formElement" formControlName="isAvailable">Esta disponible? </mat-checkbox>
    <div class="actions">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
            <button mat-raised-button color="primary"  type="reset">Cancelar</button>
    </div>
</form>


<div class="search-container">
    <mat-form-field>
        <mat-label>Buscar: </mat-label>
        <input matInput type="search" placeholder="Titulo o Genero" #searchInput 
        (keyup)="search(searchInput)"/>
    </mat-form-field>
    <button (click)="search(searchInput)" mat-raised-button color="primary">Buscar</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let pelicula">{{pelicula.title}}</td>
    </ng-container>
    <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef> Genero </th>
        <td mat-cell *matCellDef="let pelicula">{{pelicula.genre}}</td>
    </ng-container>
    <ng-container matColumnDef="releaseDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de lanzamiento </th>
        <td mat-cell *matCellDef="let pelicula">{{pelicula.releaseDate | date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="isAvailable">
        <th mat-header-cell *matHeaderCellDef> Disponible </th>
        <td mat-cell *matCellDef="let pelicula">{{pelicula.isAvailable?'Yes':'No'}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let pelicula">
            <button mat-raised-button color="accent" (click)="editar(pelicula)">Editar</button>
            <button mat-raised-button color="warn" (click)="eliminar(pelicula)">Eliminar</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['title','genre','releaseDate', 'isAvailable','actions']"></tr>
    <tr mat-row *matRowDef="let row; columns:['title','genre','releaseDate', 'isAvailable','actions'];"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5,7,20]" aria-label="select page" showFirstLastButtons>
</mat-paginator>